
.post_title {
    display: flex;
    align-items: center;
    grid-area: title;
}

.title_item {
    color: #1890FF;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    cursor: pointer;
    text-decoration: none;
}

.like_count {
    display: flex;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    align-items: center;
    padding-left: 13px;
    padding-right: 5px;
}

.post_like {
    padding-right: 5px;
}

.post_difficulty {
    grid-area: person;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.button-likes{
    border: none;

}

.post_photo {
    grid-area: photo;
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

.person_ingredients {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.5);
}

.post_description {
    grid-area: description;
}