.wrapper {
    border-top: 2px solid #01a2a6;
    background-color: #f0f8ff;
    padding: 20px;
    display: flex;
    font-family: "Playfair Display", serif;
    height: 100%;
}

.image-container {
    width: 50%;
    display: flex;
    align-items: center;
}

img {
    width: 100%;
}

.text-container {
    padding: 20px;
    padding-top: 0px;
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    position: relative;
}

.ingredients {
    display: flex;
    padding: 15px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.ingredients:nth-child(2) {
    padding-top: 20px;
}

.ingredients-left {
    width: 150px;
    padding: 15px;
    text-align: left;
}

.ingredients-right {
    width: 60%;
    flex-grow: 2;
    padding: 15px;
    text-align: left;
}

.process {
    display: flex;
    padding: 15px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
}

.process-left {
    width: 150px;
    padding: 15px;
    text-align: left;
}

.process-right {
    width: 60%;
    flex-grow: 2;
    padding: 15px;
    text-align: left;
}

.title:after {
    background-color: #01a2a6;
    content: "";
    display: block;
    height: 7px;
    left: 50%;
    margin: -4px 0 0 -60px;
    position: absolute;
    bottom: -15px;
    width: 120px;
}


.title:before {
    border-top: 1px solid black;
    content: "";
    display: block;
    position: absolute;
    bottom: -12px;
    left: 10px;
    right: 10px;
    width: 90%;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer div {
    width: 33.3%;
    text-align: center;
}
