.btn_group {
    border: none;
    text-decoration: none;
    width: 84px;
    height: 35px;
    background-color: #fff;
    padding: 6px 18px 10px 18px;
    cursor: pointer;
}

.btn_group:hover {
    border: 2px solid #52C41A;
    width: 109px;
    height: 51px;
    border-radius: 5px;
}

.app_main {
    background-color: #f0f8ff;
    min-height: -webkit-fill-available;
}

.alert {
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 10;
}
.ant-form {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    background: #FFFFFF;
    padding: 48px 37px;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0px 22px 106px 0px rgba(0, 0, 0, 0.07);
}

.ant-form-item {
    margin-bottom: 12px;
}

.ant-form-item div {
    padding: 0;
}

.ant-form-item label {
    height: 100%;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #262626;
}

.form-title {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 21px;
}

.login-form-button {
    margin: 12px 0 8px 0;
    width: 320px;
    height: 40px;
    background-color: #1890FF;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}

.login-form-button span {
    color: #fff;
}

.ant-input {
    color: #D9D9D9;
    height: 40px;
    border-radius: 5px;
}

.input-content {
    display: block;
    text-align: center;
    margin-top: 8px;
}

.form-sign {
    padding-top: 60px;
}

.ant-checkbox {
    padding-right: 5px;
}

.ant-form-item-explain-error {
    color: red;
}

.ant-alert-success {
    text-align: center;
    background-color: #f6ffed;
    border: 1px solid #b7eb8f;
}

.user-data__wrapper-inner {
    padding: 0 27px;
    display: flex;
    align-items: center;
}

.user-data__wrapper-inner span {
    display: block;
    color: rgba(0, 0, 0, 0.85);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    padding-right: 13px;
}

.user-data__wrapper-inner img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

.ant-form-article {
    width: 938px;
    overflow: hidden;
}

.form-item label {
    height: 100%;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #262626;
}

.form-title {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 21px;
}