.filters {
    background-color: gray;
    border: 1px solid wheat;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    font-size: 13px;
    height: 252px;
    letter-spacing: .5px;
    padding: 20px;
    width: 232px;
}