.checkbox {
    margin-right: 10px;
}

.filters {
    width: 232px;
    background-color: #f0f8ff;
    border: 1px solid wheat;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    font-size: 13px;
    height: 152px;
    letter-spacing: .5px;
    padding: 20px;
    margin-left: 20px;
}

.filters h3 {
    margin-bottom: 20px;
    font-size: 13px;
}