.container {
    display: flex;
    margin: 10px;
    padding: 10px;
    :first-child {
        margin-right: 10px;
    }
}

.sorts {
    width: 502px;
    height: 50px;
    font-size: 15px;
    border: 1px solid #DFE5EC;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    cursor: pointer;
    user-select: none;
    background-color: #f0f8ff;
    border: 1px solid wheat;
}

.sorts:hover {
    background-color: #2196F3;
    color: #fff;
    border-radius: 5px;
}
