.sorts {
    width: 500px;
    height: 50px;
    background-color: gray;
    margin: 0 auto;
    align-items: center;
    border: 1px solid wheat;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    font-size: 15px;
    height: 50px;
}